{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TreasureGram</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}"/>
</head>
<!--
 Interesting.. Django uses the same template formatting language as flask..
 They don't seem to be that different after all! :D
 --->
<body>
    <nav class="navbar navbar-default navbar-static-top text-center">
    <a href="/">
        <img src="{% static 'images/favicon.png' %}" alt="Logo"/>
    </a> </nav>
    <main class="container" role="main">
        <div class="menu panel panel-primary">
            {% for menu in menu %}
            <div clas="panel-heading">
                <h2 class="panel-title">{{ menu.name }}</h2>
            </div>
            <div class="panel-body">
                <div class="treasure-photo">
                    <img src="{{ menu.img_url }}" width="25%"/>
                </div>
                <table class="treasure-table">
                    <tr>
                        <th>
                             <img src="http://www.free-icons-download.net/images/frying-pan-icon-15619.png" style width="10%"/>
                            Material:
                        </th>
                        <td>{{ menu.material }}</td>
                    </tr>
                    <tr>
                        <th>
                            <img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/location-128.png" style width="10%"/>
                            Value:
                        </th>
                        <td>{{ menu.value }}</td>
                    </tr>
                    <tr>
                        <th>
                            <img src="https://image.flaticon.com/icons/png/128/126/126157.png" style width="10%"/>
                            Location:
                        </th>
                        <td>{{ menu.location }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>